<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Hutmann</servlet-name>
        <servlet-class>cz.terner.jooks.servlets.Hutmann</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostSample</servlet-name>
        <servlet-class>cz.terner.jooks.servlets.PostSample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hutmann</servlet-name>
        <url-pattern>/hutmann</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostSample</servlet-name>
        <url-pattern>/postsample</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>cz.terner.jooks.servlets.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>cz.terner.jooks.servlets.ContextListener</listener-class>
    </listener>
</web-app>
